/*********************************************************
  Services
*********************************************************/

.services {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  @media (min-width: $tablet) {
    margin: 0 -15px 45px;
  }
}

.service {
  background: $color__white;
  flex-basis: 50%;
  flex-grow: 1;
  margin: 0 auto;
  padding: 30px 15px 15px;
  text-align: center;
  box-shadow: 0 0 20px rgba($color__black, 0.1);
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0) scale(1.0, 1.0);
  transition: transform 0.2s, box-shadow 0.15s linear;
  @media (min-width: $tablet) {
    flex-basis: calc(25% - 30px);
    margin: 15px;
    padding: 60px 30px 30px;
  }
  &:hover {
    transform: scale(1.01);
    box-shadow: 0 0 25px rgba($color__black, 0.2);
  }
}

.service__icon {
  width: 100%;
  height: 100px;
  margin-bottom: 30px;
  @media (max-width: $tablet) {
    height: 75px;
  }
}

.service__title {
  color: $color__black;
}

.service__link {
  @media (min-width: $tablet) {
    float: right;
  }
}

// SERVICES ACCORDION
.services-accordion {
  display: block;
}

.services-accordion .service {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 45px;
  padding: 30px;
}

.services-accordion .service__icon {
  width: 75px;
  height: 75px;
  margin-bottom: 0;
  margin-right: 45px;
}

.services-accordion .service__title {
  margin-bottom: 0;
}

.services-accordion .service__plus {
  width: 2px;
  height: 40px;
  background: $color__secondary;
  position: absolute;
  right: 65px;
  transition: transform 0.25s linear;
  @media (max-width: $tablet) {
    right: 30px;
    height: 30px;
  }
  &:after {
    content: '';
    position: absolute;
    width: 2px;
    height: 40px;
    background: $color__secondary;
    transform: rotate(90deg);
    margin-left: -1px;
    transition: transform 0.25s linear;
    @media (max-width: $tablet) {
    height: 30px;
  }
  }
}