/*********************************************************
  Grid & Containers
  @NOTE: Uses Flexbox Sass
*********************************************************/
/* Containers */
.page-content {
  position: relative;
  z-index: 1;
  overflow: hidden;
  width: 100vw;
  background-color: #fff;
}

.container {
  width: 100%;
  max-width: 1266px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 30px;
  padding-left: 30px;
}

.container.footer-upper {
  padding-top: 120px;
  padding-bottom: 120px;
}

.container.hero-container {
  position: relative;
  z-index: 1;
}

.container.container-narrow {
  position: relative;
  z-index: 1;
  max-width: 691px;
}

.container.container-narrow.search-title-container {
  margin-bottom: 90px;
}

.container.cta-container {
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.container.about-company-quote {
  position: relative;
  z-index: 1;
  padding-top: 60px;
}

.container.form-container {
  max-width: 588px;
}

.container.career-conainer {
  position: relative;
  z-index: 2;
  max-width: 794px;
}

.container.blog-title-container {
  max-width: 794px;
}

.container.blog-post-container {
  max-width: 1000px;
}

.container.services-hero-container {
  position: relative;
  z-index: 2;
  padding-top: 90px;
}

.container.case-studies-container {
  position: relative;
  z-index: 2;
  margin-top: -90px;
}

.container.search-results-container {
  max-width: 1006px;
}

.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: -15px;
  margin-left: -15px;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.row.footer-row {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.row.text-small.info-bar-row {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.row.team-cta-row {
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.row.stats-row {
  position: relative;
  z-index: 2;
}

.row.history-row {
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.row.career-info-row {
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.row.team-row {
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.row.team-row.case-study-team-row {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.row.team-member-row {
  position: relative;
  z-index: 2;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.row.blog-row {
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.row.subscribe-row {
  position: relative;
  z-index: 2;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.row.case-study-row {
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.column {
  padding-right: 15px;
  padding-left: 15px;
}

.column.footer-left-column {
  max-width: 501px;
}

.column.footer-details-column {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.column.team-cta-text-column {
  max-width: 485px;
}

.column.column-third {
  width: 33.333333333333%;
}

.column.column-third.team-member-column {
  margin-bottom: 60px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.column.history-column {
  width: 25%;
}

.column.career-info-left {
  max-width: 415px;
}

.column.team-member-image-column {
  max-width: 485px;
}

.column.team-member-bio-column {
  max-width: 588px;
}

.column.blog-post-column {
  width: 50%;
  margin-bottom: 30px;
}

.column.subscribe-form-column {
  max-width: 382px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.column.subscribe-text-column {
  max-width: 485px;
}

.column.case-study-column {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.column.form-column {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.flex-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}