/*********************************************************
  Header & Navs
*********************************************************/

.navigation-bar {
  position: relative;
  z-index: 3;
  padding-top: 15px;
  padding-bottom: 0px;
  background: $color__primary;
  transition: background 0.3s linear;
  &:hover {
    background: $color__primary--dark;
  }
}

.navigation-bar.navigation-bar-overlay {
  position: fixed;
  z-index: 2;
  width: 100vw;
  color: #fff;
  background: rgba($color__black, 0.05);
  transition: background 0.3s linear;
  &:hover {
    background: rgba($color__black, 0.15);
  }
}

.navigation-wrapper {
  display: flex;
  padding-bottom: 15px;
  justify-content: space-between;
  align-items: center;
}


.navigation-menu-item:hover {
  opacity: 1;
}

.navigation-items {
  display: flex;
  align-items: center;
}

.navigation-logo {
  width: 75px;
}

.navigation-additional-controls {
  margin-left: 30px;
  padding-left: 0px;
}

.navigation-control {
  margin-right: 0px;
  margin-left: 30px;
  cursor: pointer;
}

.navigation-control.mobile-toggle {
  display: none;
  @media (max-width: $tablet) {
    display: inline-block;
  }
}


.info-bar {
  position: relative;
  padding-top: 22px;
  padding-bottom: 22px;
  background-color: rgba(192, 170, 129, 0.1);
}


.navigation-dropdown-item-toggle {
  padding: 0px 15px 0px 0px;
  color: #344e41;
}

.navigation-dropdown-item-toggle.text-white {
  color: #fff;
}

.dropdown-icon {
  margin-right: 0px;
  font-size: 12px;
}

.dropdown-list.w--open {
  padding: 15px;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(52, 78, 65, 0.1);
  background-color: #fff;
  color: #344e41;
}

.dropdown-link {
  padding: 5px 15px;
  opacity: 0.5;
  -webkit-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
}

.dropdown-link:hover {
  opacity: 1;
}

.dropdown-link.w--current {
  opacity: 1;
  color: #344e41;
}

/* Search */
.search-modal {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 900;
  display: none;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  background-color: $color__primary;
  color: $color__white;
}

.search-form {
  display: flex;
}

.search-form.modal-search-form {
  margin-bottom: 0;
}

.modal-cross {
  position: absolute;
  top: 30px;
  right: 30px;
  cursor: pointer;
}

.menu-column {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.menu-column-list-item {
  margin-bottom: 15px;
}


/* Nav Menu */

.navigation-menu {
  display: flex;
  margin-right: 30px;
  margin-bottom: 15px;
  padding-left: 0;
  order: -1;
  @media (max-width: $tablet) {
    display: block;
    position: fixed;
    background: $color__primary;
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0 15px;
    padding-top: 150px;
    transform: translateX(-100%);
    transition: all 0.3s ease;
  }
}

.navigation-menu-item {
  font-size: 18px;
  margin-right: 15px;
  margin-left: 15px;
  opacity: 0.8;
  transition: opacity 200ms ease;
  @media (max-width: $tablet) {
    font-size: 24px;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  &:hover {
    opacity: 1;
    color: $color__white;
  }
  .nav-link {
    color: $color__white;
  }
}

.navigation-menu.is-active {
  transform: translateX(0);
  transition: all 0.3s ease;
}

.hamburger {
  position: relative;
  z-index: 3;
  @media (min-width: $tablet) {
    display: none;
  }
}
.hamburger .line {
  width: 35px;
  height: 2px;
  background: #fff;
  display: block;
  margin: 8px auto;
  transition: all 0.3s ease-in-out;
}

.hamburger:hover{
  cursor: pointer;
}
.hamburger.is-active .line:nth-child(2){
  opacity: 0;
}

.hamburger.is-active .line:nth-child(1){
  transform: translateY(7.5px) rotate(45deg);
}

.hamburger.is-active .line:nth-child(3){
  transform: translateY(-13px) rotate(-45deg);
}

/* Headroom */
.headroom {
  will-change: transform;
  transition: transform 200ms linear;
}
.headroom--pinned {
  transform: translateY(0%);
}
.headroom--unpinned {
  transform: translateY(-100%);
}

.header-show {
  transform: translateY(0) !important;
}
.header-transparent {
  background-color: rgba($color__primary, 0.05) !important;
}
.header-not-transparent {
  background-color: rgba($color__primary, 0.99) !important;
}
