/*********************************************************
  Header & Navs
*********************************************************/

.navigation-bar {
  position: relative;
  z-index: 3;
  padding-top: 15px;
  padding-bottom: 0px;
  border-bottom: 1px solid rgba(52, 78, 65, 0.1);
}

.navigation-bar.navigation-bar-overlay {
  position: absolute;
  z-index: 2;
  width: 100vw;
  border-bottom: 1px solid hsla(0, 0%, 100%, 0.1);
  color: #fff;
}

.navigation-wrapper {
  display: flex;
  padding-bottom: 15px;
  justify-content: space-between;
  align-items: center;
}

.navigation-menu {
  display: flex;
  margin-right: 30px;
  margin-bottom: 15px;
  padding-left: 0;
  order: -1;
  @media (max-width: $tablet) {
    position: absolute;
    left: 0px;
    top: 100%;
    z-index: 2;
    display: none;
    width: 100vw;
    padding: 30px 30px 15px;
    order: 1;
    border-style: solid;
    border-width: 0px 0px 2px;
    border-color: #000 #000 hsla(149.99999999999997, 20.00%, 25.49%, 0.10);
    background-color: #fff;
  }
}

.navigation-menu-item {
  font-size: 18px;
  margin-right: 15px;
  margin-left: 15px;
  opacity: 0.8;
  transition: opacity 200ms ease;
  &:hover {
    opacity: 1;
    color: $color__white;
  }
}

.navigation-menu-item:hover {
  opacity: 1;
}

.navigation-items {
  display: flex;
  align-items: center;
}

.navigation-additional-controls {
  margin-left: 30px;
  padding-left: 0px;
  border-left: 1px solid rgba(52, 78, 65, 0.1);
}

.navigation-additional-controls.white {
  border-left-color: hsla(0, 0%, 100%, 0.1);
}

.navigation-control {
  margin-right: 0px;
  margin-left: 30px;
  cursor: pointer;
}

.navigation-control.mobile-toggle {
  display: none;
  @media (max-width: $tablet) {
    display: inline-block;
  }
}


.info-bar {
  position: relative;
  padding-top: 22px;
  padding-bottom: 22px;
  background-color: rgba(192, 170, 129, 0.1);
}


.navigation-dropdown-item-toggle {
  padding: 0px 15px 0px 0px;
  color: #344e41;
}

.navigation-dropdown-item-toggle.text-white {
  color: #fff;
}

.dropdown-icon {
  margin-right: 0px;
  font-size: 12px;
}

.dropdown-list.w--open {
  padding: 15px;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(52, 78, 65, 0.1);
  background-color: #fff;
  color: #344e41;
}

.dropdown-link {
  padding: 5px 15px;
  opacity: 0.5;
  -webkit-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
}

.dropdown-link:hover {
  opacity: 1;
}

.dropdown-link.w--current {
  opacity: 1;
  color: #344e41;
}

/* Search */
.search-modal {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 900;
  display: none;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  background-color: $color__primary;
  color: $color__white;
}

.search-form {
  display: flex;
}

.search-form.modal-search-form {
  margin-bottom: 0;
}

.modal-cross {
  position: absolute;
  top: 30px;
  right: 30px;
  cursor: pointer;
}

.menu-column {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.menu-column-list-item {
  margin-bottom: 15px;
}

