/*********************************************************
  Section
*********************************************************/

.section {
  position: relative;
  padding-bottom: 180px;
  background-color: $color__white;
}

.section.style-guide-section {
  padding-bottom: 90px;
}

.section.first-section {
  padding-top: 180px;
}

.section.first-section.text-center {
  text-align: center;
}

.section.contained-section {
  padding-top: 180px;
  padding-bottom: 180px;
}

.section.contained-section.bg-primary.faded {
  color: $color__primary;
}

.section.contained-section.bg-primary.overflow-hidden {
  overflow: hidden;
}

.section.contained-section.contained-section-large {
  padding-top: 180px;
  padding-bottom: 180px;
}

.section.contained-section.contained-section-large.bg-primary {
  overflow: hidden;
}

.section.contained-section.contained-section-large.bg-secondary.faded {
  overflow: hidden;
}

.section.contained-section.contained-section-large.bg-tertiary {
  background-color: #1d2b24;
  color: $color__white;
}

.section.contained-section.bg-secondary.faded {
  background-color: rgba(192, 170, 129, 0.1);
}

.section.flush-bottom-section {
  padding-top: 90px;
  padding-bottom: 0px;
}

.section.flush-bottom-section.bg-primary.faded {
  color: #344e41;
}

.section.flush-bottom-section.bg-primary.faded.overflow-hidden {
  overflow: hidden;
}

.section.block-section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 0px;
}

.section.blog-title-section {
  padding-top: 120px;
  padding-bottom: 90px;
}

.section.blog-posts-section {
  padding-bottom: 150px;
}

.section.bg-transparent {
  background-color: transparent;
}