/*********************************************************
  Button
*********************************************************/


.button {
  padding: 15px 45px;
  border-radius: 30px;
  background-color: $color__primary;
  border: none;
  color: $color__white;
  font-weight: 500;
  transition: background 0.2s ease;
  &:hover {
    background-color: $color__primary--dark;
    color: $color__white;
  }
}

.button.button-secondary {
  background-color: $color__secondary;
  &:hover {
    background-color: $color__secondary--dark;
    color: $color__white;
  }
}

.button.button-transparent {
  background-color: transparent;
  border: 1px solid $color__white;
  &:hover {
    background-color: $color__primary--dark;
    color: $color__white;
  }
}

.button-navigation {
  padding: 5px 50px;
}

.button.button-round {
  border-radius: 200px;
}

.button-icon {
  display: flex;
  width: 60px;
  height: 60px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-style: solid;
  border-width: 2px;
  border-color: hsla(0, 0%, 100%, 0.1);
  border-radius: 50%;
  -webkit-transition: border-color 200ms ease;
  transition: border-color 200ms ease;
}

.button-icon:hover {
  border-color: #fff;
}

.button-icon.hero-next-button {
  margin-top: 90px;
}

.back-to-top-button {
  position: fixed;
  left: auto;
  top: auto;
  right: 30px;
  bottom: 30px;
  z-index: 10;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 50px;
  height: 50px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-style: solid;
  border-width: 1px;
  border-color: hsla(0, 0%, 100%, 0.1);
  border-radius: 50%;
  background-color: #1d2b24;
}

.back-to-top-arrow {
  -webkit-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  transform: rotate(-180deg);
}

/* Underline Link Btn */
.underline-link {
  font-weight: 500;
  font-size: rem(20);
}

.underline-link.underline-link-secondary {
  color: $color__secondary;
}

.underline-link.underline-link-secondary.footer-phone {
  margin-left: 10px;
}

.underline-link.style-guide-underline-link {
  margin-right: 30px;
}

.underline-link-white {
  color: #fff;
}

.underline-link.text-spacer {
  margin-right: 5px;
  margin-left: 5px;
}

.underline-link.email-link {
  margin-bottom: 10px;
}

.underline-container {
  position: relative;
}

.underline-progress {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 0%;
  height: 2px;
  background-color: $color__primary;
  opacity: 1;
}

.underline-progress.underline-progress-secondary {
  background-color: $color__secondary;
}

.underline-progress.underline-progress-white {
  background-color: #fff;
  opacity: 0.9;
}

.underline-track {
  width: 100%;
  height: 2px;
  background-color: $color__primary;
  opacity: 0.1;
}

.underline-track.underline-track-secondary {
  background-color: $color__secondary;
}

.underline-track.underline-track-white {
  background-color: #fff;
}