/*********************************************************
  Variables
  @NOTE: variable naming is using BEM conventions
*********************************************************/

// brand colors
$color__primary: #014F39; //dark green
$color__secondary: #A29062; //gold
$color__tertiary: #999999; //gray
$color__text: #141414;
$color__white: #fff;
$color__black: $color__text;

// shades
$color__primary--dark: darken($color__primary, 7%);
$color__secondary--dark: darken($color__secondary, 7%);
$color__tertiary--dark: darken($color__tertiary, 7%);

// utility colors
$color__error: #ad0101;
$color__success:  #4bb14b;

// borders
$color__border: #EEEEEE;
$color__border--dark: #999999;

// fonts
$font__heading: Cardo, sans-serif;
$font__body: Cabin, sans-serif;
$font-size: 1rem; //1rem == 16px

// breakpoints
$desktop-wide:  1200px;
$desktop: 920px;
$tablet: 768px;
$mobile: 480px;
$phone: $mobile; 