/*********************************************************
  Home
*********************************************************/

/* Intro */
.intro p + p {
  margin-bottom: 45px;
}

/* By the Numbers */
.numbers__wrapper {
  display: flex;
  height: 100%;
  align-items: center;
}

.numbers__col-stats {
  display: block;
  margin: 0 auto;
  text-align: center;
}

.numbers__col-image {
  display: inline-block;
  width: 52%;
  height: 700px;
  background-image: url("../img/home-numbers.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.numbers__stat {
  margin-bottom: 7.5px;
}

.numbers__stat-text {
  text-transform: uppercase;
  font-size: 20px;
  margin-bottom: 60px;
}

/* Testimonials */
.testimonials {
  text-align: center;
}

.testimonials .heading-sub {
  margin-bottom: 45px;
}

.testimonials .services {
  margin-bottom: 100px;
}

.testimonials .services .service__icon {
  width: auto;
  height: 100px;
  &--smaller {
    height: 75px;
    margin-top: 20px;
  }
}

.testimonial-slider {
  height: auto;
  background-color: hsla(0, 0%, 100%, 0);
  text-align: center;
}

.testimonial-slide {
  text-align: center;
}

.testimonial-text {
  @extend .h4;
  max-width: 800px;
  margin-top: 0;
  margin-bottom: 10px;
  margin-right: auto;
  margin-left: auto;
  color: $color__black;
  + div {
    color: $color__black;
    text-transform: uppercase;
  }
}


/* Featured Case Study */

.feat-case-study {
  display: flex;
  flex-wrap: wrap;
}

.feat-case-study__col {
  height: calc(600px / 2);
  flex-basis: 100%;
  flex-grow: 1;
  &--image {
    background-image: url("../img/casestudy-fhsaa.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }
  @media (min-width: $tablet) {
    height: 600px;
    flex-basis: 50%;
  }
}

.feat-case-study__content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.feat-case-study__content .container > * {
  margin-bottom: 20px;
}

.feat-case-study__ribbon {
  @extend .heading-sub;
  display: inline-block;
  padding: 10px 20px;
  background: lighten($color__primary, 1);
  box-shadow: 0 0 20px rgba($color__black, 0.05);
}

.feat-case-study__link {
  color: $color__white;
}