/*********************************************************
  Practice Areas
*********************************************************/

.pa-intro .heading-main {
  margin-bottom: 0;
}

.pa-intro .column-text {
  @media (min-width: $tablet) {
    padding-right: 90px;
  }
}

.pa-intro .column-img img {
  @media (min-width: $tablet) {
    max-width: 485px;
  }
}

.services-full {
  flex-wrap: unset;
}

.services-full .service {
  flex-basis: calc(40% - 15px);
}

.service__description {
  padding-top: 60px;
  padding-left: 60px;
}